{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2",
    "env"
  ],
  "plugins": ["transform-runtime", "transform-vue-jsx"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]    }
  }
}
